<!doctype html>
<html ng-app="scorerApp">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="scorer.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
    crossorigin="anonymous">
</head>

<body>
    <div ng-controller="ScorerController as scorer">
        
        <div ng-show="newTurnPrompt">
            <button ng-click="newTurn()">New turn</button>
        </div>

        <div>
        <p>Current player: {{getCurrentPlayer().name}}</p>

        <form ng-submit="addHit()">
            <input type="submit" value="Hit">
        </form>
        <form ng-submit="addMiss()">
            <input type="submit" value="Miss">
        </form>

        <form ng-submit="addPlayer()" ng-show="canAddPlayer()">
            <input type="text" ng-model="playerName" placeholder="add new player">
            <input class="btn-primary" type="submit" value="add">
        </form>

        <ul>
            <li ng-repeat="player in players">
                {{player.name}}
                <ul>
                    <li ng-repeat="turn in player.turns">
                        Turn: {{$index + 1}} | Hits: {{getHits(turn)}} | Misses: {{getMisses(turn)}}
                    </li>
                </ul>
                <span ng-repeat="shot in player.shots">{{shot.made}}</span>
            </li>
        </ul>
        
        <div>
            {{getJSON()}}
        </div>

    </div>
</body>

</html>